@import "~bootstrap/scss/bootstrap.scss";

header {
    background-color: #232355 !important;
    min-height: 80px;
    .nav-title {
        min-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: white;
        // border: 1px solid black;
    }
}

body {
    background-color: #4d7854;

}

.ms_container {
    position: relative;
    top: 0;
    left: 0;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid blue;

    thead{
        position: relative;
        top: 0;
        left: 0;
    }
}